<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="keywords" content="arquitectura, vivienda, espacio publico, construccion, usos mixtos, consultoria, paisajismo, cdmx, guadalajara, mexico">
    <meta name="description" content="diseño exterior y arquitectura">
    <!-- titulo -->
    <title>contacto</title>
    <!-- Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Estilos -->
    <link rel="stylesheet" href="../style.css">
    <!-- favicon -->
    <link rel="icon" href="../assets/favicon_LOGO-01.png">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html">
                <img src="../assets/logoweb_LOGO.png" alt="tallerdea" id="logoNav">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main class="mainContacto" id="mainContacto">
        <div>
        <img src="../assets/05-web-DEA.jpg" alt="Tepic 22 Maqueta">
        <br></br>
        <h1>tallerdea | Diseño Exterior y Arquitectura</h1>
        <br></br>
        <p>Guadalajara, Jal. México</p>
        <p>tallerdea@tallerdea.mx</p>
        <p>T. 33 3826 6317</p>
        </div>
    </main>  

    <footer> 
        <div class="footer-contenedor">
             <span>
                  Todos los derechos reservados ©tallerdea 2023
              </span>
              <div class="links-rrss">
              <div>
                  <a href="https://www.instagram.com/tallerdea.mx/" target="_blank">
                 <img src="../assets/logoinstagram.png" alt="Instagram">
                  </a>
              </div>
              <div>
                 <a href="https://www.facebook.com/tallerdea.mx/" target="_blank">
                 <img src="../assets/logofacebook.png" alt="Facebook">
                 </a>
             </div>
             </div>
         </div>
     </footer>

     <!-- script link Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"> 
    </script>
</body>
</html>